body {
  background: #eee;
  font-family: sans-serif;
}

h1 {
  font-size: smaller;
}
.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px 5px; 
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
  padding: 20px 15px;
}

.button-container {
  background: #e3f4ff;
  margin: 8px;
  text-align: center;
}

button {
  padding: 10px 18px 10px;
  background: white;
  border: 1px solid #eee;
}